.login-form {
  background-color: #d9d9d9;
  border-radius: 1rem;
}

.not-logged-in-header {
  background-color: #f0f0f0;
}

.login-input {
  font-size: 2rem;
  border: none;
  border-radius: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 5px 5px 15px 0 rgb(0, 0, 0, 0.3);
}

.login-input:focus {
  outline: 0.15rem solid rgb(100, 100, 100);
}

.signup-link {
  color: black;
  transition: ease-in-out 0.2s;
  text-decoration: none;
}

.signup-link:visited {
  color: black;
}

.signup-link:hover {
  transition: ease-in-out 0.2s;
  cursor: pointer;
  color: rgb(97, 97, 97);
}

.signup-form {
  background-color: #d9d9d9;
  border-radius: 1rem;
}

.signup-input {
  font-size: 2rem;
  border: none;
  border-radius: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 5px 5px 15px 0 rgb(0, 0, 0, 0.3);
}

.signup-input:focus {
  outline: 0.15rem solid rgb(100, 100, 100);
}

.login-link {
  color: black;
  transition: ease-in-out 0.2s;
  text-decoration: none;
}

.login-link:visited {
  color: black;
}

.login-link:hover {
  transition: ease-in-out 0.2s;
  cursor: pointer;
  color: rgb(97, 97, 97);
}

.isvalid-login-true {
  display: none;
}

.isvalid-login-false {
  color: red;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.big-button {
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  transition: ease-in-out 0.2s;
}

.big-button:hover {
  transition: ease-in-out 0.2s;
  cursor: pointer;
  background-color: #b5b5b5;
}

.header-title {
  margin: 0;
}

.header-container {
  background-color: #eafbff;
  z-index: 2;
  position: relative;
}

.home-content-test {
  background-color: #b5b5b5;
  z-index: 2;
  position: relative;
}

.nav-container {
  display: flex;
  align-items: center;
}

.fa-bars {
  margin-right: 1rem;
}

.fa-bars:hover {
  cursor: pointer;
}

.shadow-true {
  transition: ease-in 0.3s;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: 100;
}

.shadow-false {
  transition: ease-in 0.3s;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.nav-list-container-initial {
  position: fixed;
  display: block;
  margin-left: -60%;
}

.nav-list-container-false {
  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  top: 0;
  animation: 0.3s;
  animation-duration: 0.8s;
  animation-name: slide-left;
  margin-left: -60%;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 101;
  background-color: #eafbff;
  padding-inline-start: 0;
  font-size: 2rem;
}

.nav-list-container-true {
  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  top: 0;
  animation-duration: 0.3s;
  animation-name: slide-right;
  z-index: 101;
  background-color: #eafbff;
  margin: 0;
  padding-inline-start: 0;
  font-size: 2rem;
}

.nav-link {
  padding: 1rem 2rem;
  list-style: none;
  margin-bottom: 1rem;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #9fb0b4;
  transition: ease-in-out 0.3s;
}

.content-container {
  position: relative;
  z-index: 3;
  display: flex;
  margin-left: 0;
  justify-content: space-between;
  flex-direction: column;
}

.profile-nav {
  background-color: #f0f0f0;
  flex-basis: 30%;
  list-style: none;
  padding-inline-start: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 3;
  margin-bottom: 0;
}

.profile-nav-link {
  padding: 1rem;
  text-align: center;
  border-radius: 3rem;
}

.profile-nav-link:hover {
  cursor: pointer;
  background-color: #bfbfbf;
  transition: ease-in-out 0.3s;
  border-radius: 3rem;
}

.games-container {
  margin-top: 1.5rem;
  flex-basis: 65%;
}

.game-entry-container {
  border-radius: 0.25rem;
  font-size: 2rem;
  padding: 0.5rem;
}

.profile-game-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.add-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  font-size: 2rem;
}

.add-game-text {
  margin-bottom: 0;
}

.profile-nav-line {
  border: 1px solid #9a9a9a;
  opacity: 60%;
  border-style: solid;
  width: 80%;
  margin: auto;
}

.profile-vertical-line {
  border: 1px solid #9a9a9a;
  opacity: 60%;
}

.games-container-line {
  border: 1px solid #93c0cc;
  border-style: solid;
  margin: auto;
  width: 95%;
}

.add-game-text:hover {
  cursor: pointer;
}

.fa-plus {
  cursor: pointer;
}

@keyframes slide-right {
  from {
    margin-left: -60%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slide-left {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: -60%;
  }
}

@media screen and (max-width: 923px) {
  .header-title {
    font-size: 1.5rem;
  }

  .big-button {
    font-size: 1.5rem;
  }
}
